<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h3>編集</h3>
      <br>
      <%= render 'form', clone: @clone %>
      <br>
      <%= link_to '一覧', @clone %> |
      <br>
      <%= link_to 'TOPに戻る', clones_path %>
    </div>
  </div>
</div>