<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h3>新規投稿する</h3>
      <br>
      <%= render 'form', clone: @clone %>
      <br>
      <%= link_to '戻る', clones_path %>
   </div>
  </div>
</div>